<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Create User</title>
</head>

<body>
<h1>Create User</h1>
<form action="#" th:object="${user}" th:action="@{/admin/create}" method="post">
    <label>Username:</label><br/>
    <input type="text" th:field="*{username}"/><br/>
    <label>Email:</label><br/>
    <input type="email" th:field="*{email}"/><br/>
    <label>Password:</label><br/>
    <input type="password" th:field="*{password}"/><br/><br/>
    <button type="submit">Create</button>
    <button type="reset">Reset</button>
</form>
</body>

</html>


