<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>User Info</title>
</head>
<body>
<h1>User Info</h1>
<table>
    <tr>
        <td>ID:</td>
        <td th:text="${user.getId()}"></td>
    </tr>
    <tr>
        <td>Username:</td>
        <td th:text="${user.getUsername()}"></td>
    </tr>
    <tr>
        <td>Email:</td>
        <td th:text="${user.getEmail()}"></td>
    </tr>
    <tr>
        <td>Roles:</td>
        <td>
            <ul>
                <li th:each="role : ${user.getRoles()}"
                    th:text="${role}">
                </li>
            </ul>
        </td>
    </tr>
</table>
</form>
<br>
<form th:action="@{/logout}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <br>
    <button type="submit">Logout</button>
</form>
</body>
</html>